doctype html
html
  head
    title= title
    block link
      link(rel='stylesheet', href='/stylesheets/style.css')
    block script
      script(src="javascripts/jquery.min.js")
  body
    block content
