doctype html
html
    head
        title= title
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(href='http://vjs.zencdn.net/6.6.0/video-js.css' rel='stylesheet')
        link(rel='stylesheet', href='/stylesheets/player.css')
        script(src="javascripts/jquery.min.js")
        script(src="javascripts/video.min.js")
    body
        .video-container
            .video-title #{name}
            video(id="my-video" class="video-js" controls preload="auto" data-setup="{}")
                source(src=`${source}` type='video/mp4')
        script.
            window.HELP_IMPROVE_VIDEOJS = false;