extends layout
block link
    link(rel="stylesheet", href="/stylesheets/main.css")
block content
    div(class="container")
        form(class="box has-advanced-upload" method="post" action="/transfer" enctype="multipart/form-data")
            div(class="box__input")
                input(class="box__file" type="file" name="files[]" id="file" data-multiple-caption="{count} files selected" multiple)
                label(for="file")
                    strong Choose a file
                    span(class="box__dragndrop")  or drag it here.
                button(class="box__button" type="submit") Upload
            div(class="box__uploading") Uploading&hellip;
            div(class="box__success") Done!
            div(class="box__error") Error! 
                span .
    a(class=`downloadlink ${visibility}` href=`/transfer/download/${imgName}` download=`${imgName}`) Download the file
    div.hint-container
        .hint-success
            .hint-text DONE!
            .hint-bottom
    div(class="chatRoom")
        div(class="showMsg")
            ul(id="appendmsg")
        div(class="inputMsg")
            input(id="input")
    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/eventsource.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js" integrity="sha256-ji09tECORKvr8xB9iCl8DJ8iNMLriDchC1+p+yt1hSs=" crossorigin="anonymous")
    script(type="text/javascript").
        $('html').addClass('js')
    script(src="/javascripts/upload.js")
    script(src="/javascripts/socket.js")
