doctype html
html
    head
        title= title
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="/javascripts/jquery.min.js")
    body
        ul
            each item in movies
                li
                    div.title= item.name
                    a(href=`${item.link}`) Play
