.video-container {
    width: 640px;
    margin: 0 auto;
    padding: 10px;
}

.video-title {
    margin-bottom: 20px;
}

#my-video {
    margin: 0 auto;
    /* width: 90%; */
    /* max-width: 480px; */
    /* max-width: hi; */
    width:
}

.video-js button.vjs-big-play-button {
    /* position: relative; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen {
    
}